version: '3.8'

services:
  postgres:
    image: postgres:16-alpine
    container_name: nestjs-postgres
    restart: always
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: architecture
      POSTGRES_INITDB_ARGS: '-E UTF8' # Define o encoding dos dados do banco de dados
      TZ: 'UTC' # Define o horário do Sistema Linux (Alpine)
      PGTZ: 'UTC' # Define o timezone da sessão do Postgres
    ports:
      - '5432:5432'
    volumes:
      - postgres_data:/var/lib/postgresql/data
    healthcheck:
      test: ['CMD-SHELL', 'pg_isready -U postgres -d architecture']
      interval: 10s
      timeout: 5s
      retries: 5
    networks:
      - nestjs-network

networks:
  nestjs-network:
    driver: bridge

volumes:
  postgres_data:
    driver: local
